# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
venv/

# Environment variables (secrets)
.env
.env.*
!.env.example


# Logs
*.log

# Celery
celerybeat-schedule
celerybeat.pid

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
